{% include "navbar.html" %}


<div class="container mt-5 mb-5">
	<div class="row justify-content-center">
		<div class="col-md-5">
		    <!-- <div class="form-container"> -->
		        <h1 class="text-center">Create Account</h1>
		        <form method="post" action="/create_account/">
		            {% csrf_token %}
		            <div class="form-group">
		                <label for="id_customer_name">Name</label>
		                <input type="text" class="form-control" id="id_customer_name" name="customer_name" placeholder="Enter your name">
		            </div>
		            <div class="form-group">
		                <label for="id_customer_mobile">Mobile</label>
		                <input type="text" class="form-control" id="id_customer_mobile" name="customer_mobile" placeholder="Enter your mobile number" >
		            </div>
		            <div class="form-group">
		                <label for="id_customer_email">Email</label>
		                <input type="email" class="form-control" id="id_customer_email" name="customer_email" placeholder="Enter your email address" >
		            </div>
		            <div class="form-group">
		                <label for="id_customer_password">Password</label>
		                <input type="password" class="form-control" id="id_customer_password" name="customer_password" placeholder="Enter your password" >
		            </div>
		            <div class="mt-4 text-center">
		            <button type="submit" class="btn btn-primary">Create Account</button>
		            <a href="/login_process">
		        		<button class="btn btn-primary">Login</button>
		        	</a>
		        </div>
		       <!--  <div class="mt-4 text-center">
		        	 <a href="/login_process">
		        		<button class="btn btn-primary">Login</button>
		        	</a> 
		        </div> -->
		        </form>
    		<!-- </div> -->
    		
    	</div>
    </div>
</div>



{% include "footer.html" %}
